<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Real Time Currency Converter</title>
	<style>
		.container {
		max-width: 500px;
		margin: auto;
		}
	</style>
        <script>
        var inputKolicina = document.getElementById('inputKolicina');
        var inputValuta = document.getElementById('inputValuta');
        var outputVrednost = document.getElementById('outputVrednost');

        inputKolicina.onchange = function() {
        alert(inputValuta.value)
        outputVrednost.value = inputKolicina.value * inputValuta.value.value}
    </script>
</head>

<body>
 <form class = "form-signin" action="/convert" method="post">

        <label for="inputKolicina" class = "sr-only"> Kolicina novca </label>
        <input type = "number" name="inputKolicina" id="inputKolicina" class="form-control" placeholder="Kolicina" required autofocus></br>

        <div class="form-group">
          <label>Valuta</label>
          <select name="inputValuta" id="sub_category_id" class="form-control">
             <option value="" selected="selected"></option>
              {% for currency in currencies %}
              <option value="{{currency.currency}}">{{currency.currency}}</option>
              {% endfor %}
          </select>
        </div>


        <label><input id="outputVrednost" name="value" readonly></label>
        <input type="submit" value="Excange">

 </form>
</body>
</html>
