<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <h1>Login page</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username() }}
        {{ form.password() }}
        {{ form.submit() }}
    </form>
    <!--make this disappear when click start typing again-->
     {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert= {{ category}}} alert dismissible fade show" role="alert">
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <a>Not a member? <a href="{{url_for('register')}}">register now</a></a>
</body>
</html>